In [2]:
import pandas as pd

In [4]:
data_to_Load = "Teams.csv"
team_data_df = pd.read_csv(data_to_Load)

In [5]:
team_data_df.head()

,yearID,lgID,teamID,franchID,divID,Rank,Ghome,DivWin,WCWin,LgWin,WSWin,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,NaN,NaN,NaN,N,NaN,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,NaN,NaN,NaN,N,NaN,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,NaN,NaN,NaN,N,NaN,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,NaN,NaN,NaN,N,NaN,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,NaN,NaN,NaN,N,NaN,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

In [10]:
type(team_data_df)
team_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2955 entries, 0 to 2954
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   yearID          2955 non-null   int64
 1   lgID            2905 non-null   object
 2   teamID          2955 non-null   object
 3   franchID        2955 non-null   object
 4   divID           1438 non-null   object
 5   Rank            2955 non-null   int64
 6   Ghome           2556 non-null   float64
 7   DivWin          1410 non-null   object
 8   WCWin           774 non-null    object
 9   LgWin           2927 non-null   object
 10  WSWin           2598 non-null   object
 11  name            2955 non-null   object
 12  park            2921 non-null   object
 13  attendance      2676 non-null   float64
 14  BPF             2955 non-null   int64
 15  PPF             2955 non-null   int64
 16  teamIDBR        2955 non-null   object
 17  teamIDlahman45  2955 non-null   object
 18  teamIDretro     2955 non-null   object
dtypes: float64(2), int64(4), object(13)
memory usage: 438.8+ KB

In [7]:
team_data_df.head()

,yearID,lgID,teamID,franchID,divID,Rank,Ghome,DivWin,WCWin,LgWin,WSWin,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,NaN,NaN,NaN,N,NaN,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,NaN,NaN,NaN,N,NaN,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,NaN,NaN,NaN,N,NaN,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NaN,FW1,KEK,NaN,7,NaN,NaN,NaN,N,NaN,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NaN,NY2,NNA,NaN,5,NaN,NaN,NaN,N,NaN,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

In [26]:
#team_data_df.drop(['IgID'],['divID'],['Ghome'], axis=1, inplace=True)
team_data_df.drop(columns=['lgID','divID','Ghome','LgWin','attendance','teamIDBR','teamIDlahman45','teamIDretro'], axis=1,inplace=True)

In [27]:
team_data_df.head()

,yearID,teamID,franchID,Rank,DivWin,WCWin,WSWin,name,park,BPF,PPF
0,1871,BS1,BNA,3,NaN,NaN,NaN,Boston Red Stockings,South End Grounds I,103,98
1,1871,CH1,CNA,2,NaN,NaN,NaN,Chicago White Stockings,Union Base-Ball Grounds,104,102
2,1871,CL1,CFC,8,NaN,NaN,NaN,Cleveland Forest Citys,National Association Grounds,96,100
3,1871,FW1,KEK,7,NaN,NaN,NaN,Fort Wayne Kekiongas,Hamilton Field,101,107
4,1871,NY2,NNA,5,NaN,NaN,NaN,New York Mutuals,Union Grounds (Brooklyn),90,88

In [28]:
team_data_df.to_csv('Teams.csv')

In [29]:
team_data_df.columns

Index(['yearID', 'teamID', 'franchID', 'Rank', 'DivWin', 'WCWin', 'WSWin',
       'name', 'park', 'BPF', 'PPF'],
      dtype='object')